*{
  background: black;
font-family: 'Sawarabi Gothic', sans-serif;
font-size: 21px;
padding: 8px;
}

.window1{
position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #F1DFC3;  
box-sizing: border-box;
border: 7px solid black;
}

.window2{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #E3D0AC;
box-sizing: border-box;
border: 7px solid black;
color: #000000;
}

.window3{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #E7D2AA; 
box-sizing: border-box;
border: 7px solid black;
color: #1D1D1D;
}

.window4{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #F4C379;  
box-sizing: border-box;
border: 7px solid black;
color: #2A2A2A;
}

.window5{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #E5BC85;
box-sizing: border-box;
border: 7px solid black;
color: #393939;
}

.window6{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #F0A585; 
box-sizing: border-box;
border: 7px solid black;
color: #434343;
}

.window7{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #E5AD85;
box-sizing: border-box;
border: 7px solid black;
color: #424242;
}

.window8{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #EFC8B4;  
box-sizing: border-box;
border: 7px solid black;
color: #4F4F4F;
}

.window9{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #DCC2B5; 
box-sizing: border-box;
border: 7px solid black;
color: #585858;
}

.window10{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #8AAAB2; 
box-sizing: border-box;
border: 7px solid black;
color: #4F4F4F;

}

.window11{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #9AA8B9; 
box-sizing: border-box;
border: 7px solid black;
color: #4F4F4F;

}

.window12{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #628DC3;  
box-sizing: border-box;
border: 7px solid black;
color: #4F4F4F;

}
.window13{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #707EB1; 
box-sizing: border-box;
border: 7px solid black;
color: #4F4F4F;

}

.window14{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #506896;  
box-sizing: border-box;
border: 7px solid black;
color: #939393;

}


.window15{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #4D6898; 
box-sizing: border-box;
border: 7px solid black;
color: #979797;

}

.window16{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #6C698F;  
box-sizing: border-box;
border: 7px solid black;
color: #A9A9A9;

}

.window17{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #4E4E68; 
box-sizing: border-box;
border: 7px solid black;
color: #B8B8B8;

}

.window18{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
height: 706px;
background: #433E4B;  
box-sizing: border-box;
border: 7px solid black;
color: #C4C4C4;

}

.window19{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
	height: 706px;
background: #253244; 
box-sizing: border-box;
border: 7px solid black;
color: #C8C8C8;

}

.window20{
    position: -webkit-sticky;
  position: sticky;
  top: 0;
	height: 706px;
	background: #24201E; 
	box-sizing: border-box;
border: 7px solid black;
	color: #EEEEEE;

}

@media only screen and (min-width: 600px) {
  .window1 {width: 450px}
  .window2 {width: 450px;}
  .window3 {width: 450px;}
  .window4 {width: 450px;}
  .window5 {width: 450px;}
  .window6 {width: 450px;}
  .window7 {width: 450px;}
  .window8 {width: 450px;}
  .window9 {width: 450px;}
  .window10 {width: 450px;}
  .window11 {width: 450px;}
  .window12 {width: 450px;}
  .window13 {width: 450px;}
  .window14 {width: 450px;}
  .window15 {width: 450px;}
  .window16 {width: 450px;}
  .window17 {width: 450px;}
  .window18 {width: 450px;}
  .window19 {width: 450px;}
  .window20 {width: 450px;}
